.user-roles {
  margin-top: 1rem;
  background-color: #fde9e9;
  border-radius: 8px;
  p {
    color: #f44848 !important;
  }
}
.user-roles::after {
  color: #f44848 !important;
}
.roles-wrapper {
  position: relative;
}
.roles-wrapper::after {
  content: " ";
  position: absolute;
  right: 8px;
  top: 0;
  height: 60px;
  width: 6px;
  border-radius: 5px 0 0 5px;
  background-color: #f44848;
}
.main-content{
  .add-employee {
    h2 {
      color: #4c5f71;
      font-size: 1.2rem;
      margin: 1.3rem 0rem;
      font-weight: 600;
    }
  }
  .role-description {
    margin-top: 1rem;
    p {
      color: #4c5f71;
      font-size: 0.89rem;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 1.3rem;
    .card {
      width: 300px;
      padding: 1.5rem;
      box-shadow: 0 0 0 2px #e6e6e6;
      border-radius: 10px;
      .image-section {
        display: flex;
        align-items: center;
        gap: 15px;
        img {
          height: 45px;
          border-radius: 50%;
        }
        div {
          p {
            margin: 0;
          }
          p:first-child {
            font-size: 1.2rem;
          }
          p:nth-child(2) {
            font-size: 0.7rem;
          }
        }
      }
      .about {
        margin-top: 1rem;
        div {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          gap: 15px;
          img {
            height: 20px;
          }
          p {
            margin: 0;
          }
        }
      }
      .view-detail {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
      }
    }
  }
}