@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');
body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
}

.sidebar {
  max-width: 270px;
  position: relative;
  .sidebar-icon {
    position: absolute;
    right: 0;
    top: 15px;
    display: flex;
    align-items: center;
    & > img:first-child {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }
  .logo {
    margin-top: 1rem;
    width: 150px;
    height: auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .nav-content {
    width: 100%;
    margin-top: 2.5rem;
    .dashboard-items {
      & > p:first-child {
        color: #a1a5a8;
        font-size: 1.2rem;
        position: relative;
      }
      .employee-dropdown {
        position: relative;
      }
      .dashboard,
      .employees {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 1rem; */
        padding: 1rem 1rem 1rem 0rem; 
        cursor: pointer;
        width: 85%;
        /* background-color: #FDE1E1; */
        div {
          display: flex;
          gap: 1rem;
          img {
            width: auto;
            height: 30px;
          }
          p {
            text-decoration: none;
            margin: 0;
            font-size: 1.2rem;
            color: #6a6f74;
          }
        }
        .arrow {
          rotate: 270deg;
        }
        &::after {
          position: absolute;
          right: 15px;
          font-family: "FontAwesome";
          content: "\f078";
          rotate: 270deg;
          color: #6a6f74;
        }
      }
      .items {
        display: none;
        margin: 0;
        padding-left: .5rem;
        list-style: none;
        li {
          font-size: 1.2rem;
          padding-left: 2.5rem;
          margin: 1rem 0rem;
          color: hwb(210 42% 55%);
          position: relative;
        }
        li::before {
          position: absolute;
          left: 0px;
          top: 10px;
          font-family: "FontAwesome";
          content: "\f111";
          font-size: 0.7rem;
          color: rgba(106, 111, 116, 0.5);
        }
      }
      .tmp {
        display: block;
        width: 100%;
        height: 100%;
      }
      #click {
        display: none;
      }
      #click:checked ~ .items {
        display: block;
      }
      #click:checked ~ .tmp {
        .employees {
          background-color: #fde9e9;
          border-radius: 8px;
          p {
            color: #f44848;
          }
          &::after {
            position: absolute;
            right: 15px;
            font-family: "FontAwesome";
            content: "\f078";
            rotate: 0deg;
            color: #f44848;
          }
        }
        &::after {
          content: " ";
          position: absolute;
          right: 0px;
          top: 0;
          height: 60px;
          width: 6px;
          border-radius: 5px 0 0 5px;
          background-color: #f44848;
        }
      }
    }

    .user-management {
      margin-top: 1rem;
      & > p:first-child {
        margin: 0;
        color: #a1a5a8;
        font-size: 1rem;
      }
      .user-roles{
        margin-top: 1rem;
      }
      .user-roles,
      .assign-roles {
        width: 85%;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0rem 0rem 0rem;
        gap: 1rem;
        cursor: pointer;
        img {
          width: auto;
          height: 30px;
        }
        p {
          margin: 0;
          font-size: 1.2rem;
          color: #959b9f;
        }
        &::after {
          font-family: "FontAwesome";
          content: "\f078";
          position: absolute;
          right: 0px;
          color: #6a6f74;
          font-weight: 900;
          rotate: 270deg;
        }
      }
    }

    .update {
      position: relative;
      top:565px;
      background-color: rgba(253, 233, 233, 0.456);
      padding: 1rem;
      margin: 1rem 0rem 0rem;
      border-radius: 20px;
      & p:first-child {
        color: #f44848;
        font-size: 1.2rem;
      }
      .description {
        margin-top: 0.5rem;
        font-size: 1rem;
        color: #6a6f74;
      }
      .btn {
        margin-top: 0.5rem;
        button {
          padding: 15px 24px;
          border-radius: 9px;
          border: none;
          outline: none;
          font-size: 1.2rem;
          &:first-child {
            background-color: rgba(253, 233, 233, 1);
            color: #ff4a4a;
            margin-right: 10px;
          }
          &:nth-child(2) {
            background-color: #fd3535;
            color: rgba(253, 233, 233, 0.804);
          }
        }
      }
    }
  }
}

main {
  width: 100%;
}

header {
  width: 100%;
  background-color: #fff;
  height: 4.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.299);
  border-radius: 8px;
  border: 2px solid #fff;
  .search-bar {
    width: 100%;
    height: 100%;
    input {
      background-image: url(./images/search.png);
      background-position: 10px 25px;
      background-repeat: no-repeat;
      padding-left: 2.3rem;
      font-size: 1.2rem;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }
  }
  .icons {
    display: flex;
    height: 100%;
    gap: 10px;
    margin-right: 1.3rem;
    align-items: center;
    .info {
      p {
        font-size: 1.2rem;
        margin: 0;
        min-width: 127px;
      }
      .role{
        font-weight: bold;
      }
    }
    & > * {
      cursor: pointer;
    }
  }
  .icons::after {
    font-family: "FontAwesome";
    content: "\f078";
  }
}

.main-content {
  margin-top: 1rem;
  .add-employee {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    h2 {
      color: #4c5f71;
      font-size: 1.7rem;
      margin: 1.3rem 0rem;
      font-weight: 600;
    }
    p {
      font-size: 1rem;
      color: #a1a5a8;
      margin-bottom: 0;
    }
    button {
      padding: 0.625rem;
      font-size: 1.2rem;
      border-radius: 5px;
      border: none;
      outline: none;
    }
    .export {
      background-color: #fff;
      color: #a1a5a8;
      border: 1px solid black;
      margin-right: 15px;
    }
    .export::before {
      content: url(./images/export.png);
      padding-right: 10px;
    }
    .add {
      padding: 0.9rem;
      color: #fff;
      background-color: #f44848;
      border-radius: 9px;
    }
    .add::before {
      font-family: "FontAwesome";
      content: "\2b";
      padding-right: 10px;
    }
  }
  .options {
    display: flex;
    align-items: center;
    margin-top: 2.2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    img{
      height: 20px;
    }
    span {
      background-color: #eaebee;
      padding: 0.7rem 0.77rem;
      margin-left: 5px;
      border-radius: 8px;
      font-size: 15px;
      color: #91979b;
    }
    /* &::before {
      content: url(./images/filter.png);
    } */
  }

  .filter{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
    border:1px solid #F44848;
    background-color: #FDF2F2;
    border-radius: 10px;
    .filter-options{
      display: flex;
      align-items: center;
      gap: .8rem;
      p{
        font-size: 1rem;
        color: #F55D5D;
        font-weight: 700;
      }
      div{
        border: 1px solid #F55D5D;
        padding: .6rem;
        text-align: center;
        border-radius: 10px;
        background-color: #fff;
        p{
          font-size: 1rem;
          margin: 0;
          color: #7c7f81;
        }
        p::after{
          font-family: 'FontAwesome';
          content: '\f078';
          margin-left: 5px;
        }
      }
    }
    .btn{
      button{
        padding: .7rem 1.5rem;
        border-radius: 10px;
        border: none;
        margin-left: 1rem;
      }
      .reset{
        background-color: #fff;
        color: #F55D5D;
        font-size: 1.2rem;
        border:1px solid #F44848;
      }
      .apply{
        background-color: #F55D5D;
        color: #fff;
        font-size: 1.2rem;
      }
    }
  }

  .user-data {
    margin-top: 2rem;
    box-shadow: 0px 2px 2px 3px rgba(174, 174, 174, 0.299);
    border-radius: 8px;
    .delete {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.2rem;
      align-items: center;
      border-bottom: 1px solid black;
      .btn {
        display: flex;
        gap: 1rem;
        align-items: center;
        button {
          border: none;
          outline: none;
          border-radius: 5px;
          color: #fff;
          background-color: #f89191;
          padding: 0.5rem;
          font-size: 1.2rem;
        }
      }
      & img:last-child {
        height: 25px;
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;
      tr {
        width: 100%;
        border-bottom: 1px solid #6a6f74;
      }
      td {
        padding: 1rem ;
      }
      th {
        .heading-wrapper{
          display: flex;
          align-items: center;
        }
        p{
          margin: 0;
          padding: 1rem .5rem;
          text-align: start;
        }
        .icon{
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
        }
        .icon::before{
          font-family: "FontAwesome";
          content: '\f077';
          font-size: .5rem;
        }
        .icon::after{
          font-family: "FontAwesome";
          content: '\f078';
          font-size: .5rem;

        }
      }
      .user{
        display: flex;
        gap:8px;
        .user-details{
          p{
            margin: 0;
          }
        }
      }
      .apperance p{
        background-color:#E7F4E8;
        padding: 7px;
        border-radius: 10px;
        color: #39bb8b;
      }
    }
  }
}
